---
title: Lisa Ilkow
description: Physiotherapeutin, Osteopathin, Yoga Lehrerin
layout: layouts/base.njk
---
<div class="flex flex-col gap-2 items-center justify-center w-full min-h-screen">
  <img src="img/lisa-ilkow-by-arbor-vitea-small.jpg" class="block  h-auto max-w-full" width="220" height="150" alt="Photo of Lisa Ilkow at Arbor Vitea" />
  <h1 class="text-xl">Lisa Ilkow, BSc</h1>
  <h2 class="text-base">Physiotherapeutin, Osteopathin, Yoga Lehrerin in der Nähe von Graz</h2>
</div>
